*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #d9125e;
}

header{
    background-color: #d9125e;
}

h1{
    color: #37ebff;
    font : {
        family: "Gorditas", sans-serif;
        size: 104px;
        weight: 600;
    }
    line-height: 0.9em;
    width: 80%;

    span{
        color: #fff200;
    }
}

header p{
    color: #fff200;
    font : {
        family: "Contrail One", sans-serif;
        size: 30px;
        weight: 500;
    }
}

img{
    max-width: 100%;
}

.content-wrapper{
    padding: 0;
    width: 94%;
    margin: 3em auto;
    border: 12px double black;
    background-color: #fff200;
}

.content{
    max-width: 100%;
    background-color: skyblue;
}

.desk{
    background-image: url(../img/background.png);
    background : {
        size: contain;
        repeat: no-repeat;
    }
    aspect-ratio: 2.033;
    width: 100%;
}

.objects{
    position: absolute;

    .lamp{
        position: absolute;
    }
}