*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #d9125e;
    transition: 1s ease-in-out;

    &.dark{
        background-color: #250310;
    }
}


header{
    display: flex;

    .title-group{
        width: 80%;

        h1{
            color: #37ebff;
            font : {
                family: "Gorditas", sans-serif;
                size: 104px;
                weight: 600;
            }
            line-height: 0.9em;
            margin: 24px 0 0 3%;

            span{
                color: #fff200;
            }
        }

        p{
            color: #fff200;
            font : {
                family: "Contrail One", sans-serif;
                size: 30px;
                weight: 500;
            }
        }

        div{
            display: flex;
            justify-content: space-between;
            margin: 16px 0 0 3%; 
            width: 70%;

            button{
                background-color: #d97b92;
                border: 2px solid #fff200;
                border-radius: 100px;
                display: flex;
                margin-right: 5%;
                transition: 1s ease-in-out;

                div{
                    aspect-ratio: 1/1;
                    border-radius: 50px;
                    display: flex;
                    font-size: 16px;
                    justify-content: center;
                    align-items: center;
                    margin: 3px;
                    padding: 0.3em;
                    text-align: center;
                    transition: 0.9s ease-in-out;

                    &.sun{
                        background-color: #f3b6cd;
                        color: #6d092f;
                        margin-left: 0;
                    }

                    &.moon{
                        color: #f3f3f3;
                        margin-right: 0;
                    }
                }

                &:hover{
                    cursor: pointer;
                }

                &.dark{
                    background-color: #331b24;
                    border-color: #ac3f00;

                    .sun{
                        background-color: transparent;
                        color: #96868c;
                    }

                    .moon{
                        background-color: #644c55;
                        color: #180005;
                    }
                }
            }
        }
    }

    nav{
        margin-right: 3%;

        li{
            display: inline-flex;
            list-style: none;
        }
    }
}

img{
    max-width: 100%;
    object-fit: contain;
}

.content-wrapper{
    padding: 0;
    width: 94%;
    margin: 3em auto;
    border: 12px double black;
    background-color: #fff200;
    transition: 1s ease-in-out;

    &.dark{
        border-color:#ac3f00;
        background-color: transparent;
    }
}

.content{
    max-width: 100%;
    background-color: rgb(165, 224, 247);
    transition: 1s ease-in-out;

    &.dark{
        background-color: #0c061c;
    }
}

.desk{
    background-image: url(../img/bg.png);
    background : {
        size: contain;
        repeat: no-repeat;
    }
    aspect-ratio: 2.033;
    width: 100%;
    transition: 0.9s ease-in-out;

    &.dark{
        background-image: url(../img/bg-dark.png);
    }
}

#lamp-switch{
    position: absolute;
    top: 68%;
    right: 13.2%;
    z-index: 100;
    border: none;
    background-color: transparent;
    display: block;
    margin: 0;
    padding: 0;
    width: 1.6vw;
    height: 70px;

    &:hover{
        cursor: pointer;
    }
}

.stage{
    aspect-ratio: 1.733;
    display: none;
    justify-self: center;
    margin-left: 2.1%;
    margin-top: 8%;
    position: absolute;
    width: 53.4vw;

    &.active{
        display: flex;

        div{
            align-content: space-evenly;
            align-self: center;
            background-color: rgb(206, 231, 206);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 100%;
            justify-content: center;
            padding: 1.3em 0.6em;
            width: 100%;

            button{
                align-items: center;
                background-color: transparent;
                border: 1px solid transparent;
                display: inline-flex;
                flex-direction: column;
                padding: 0.6em 1em;
                margin: 0.4em 0.3em;
                min-width: 8vw;

                &:hover{
                    background-color: #b6dcee7e;
                    border-color:#8db9ceb6;
                    cursor: pointer;
                }

                h3{
                    color: #1f3f5f;
                    font : {
                        family: Verdana, Geneva, Tahoma, sans-serif;
                        size: 20px;
                        weight: 500;
                    }
                    margin-top: 8px;
                }

                img{
                    width: 8vw;;
                    height: auto;
                }
            }
        }
    }
}


#web-open{
    article.graphic{
        display: none;
    }
}

#graphic-open{
    article.web{
        display: none;
    }
}