*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #d9125e;

    &.dark{
        background-color: #250310;
    }
}

/*header{
    background-color: #d9125e;
    &.dark{
        background-color: #250310;
    }
}*/

h1{
    color: #37ebff;
    font : {
        family: "Gorditas", sans-serif;
        size: 104px;
        weight: 600;
    }
    line-height: 0.9em;
    width: 80%;

    span{
        color: #fff200;
    }
}

header p{
    color: #fff200;
    font : {
        family: "Contrail One", sans-serif;
        size: 30px;
        weight: 500;
    }
}

img{
    max-width: 100%;
    object-fit: contain;
}

.content-wrapper{
    padding: 0;
    width: 94%;
    margin: 3em auto;
    border: 12px double black;
    background-color: #fff200;

    &.dark{
        border-color:#ac3f00;
        background-color: transparent;
    }
}

.content{
    max-width: 100%;
    background-color: rgb(165, 224, 247);

    &.dark{
        background-color: #0c061c;
    }
}

.desk{
    background-image: url(../img/background.png);
    background : {
        size: contain;
        repeat: no-repeat;
    }
    aspect-ratio: 2.033;
    width: 100%;
}

.objects{
    position: absolute;
    width: 94%;
    aspect-ratio: 2.033;
    margin: 0 auto;

    #lamp{
        width: 14vw;
        height: auto;
        position: absolute;
        right: 3%;
        bottom: 20%;
    }

    #lamp-switch{
        position: absolute;
        top: 41%;
        right: 7%;
        z-index: 100;
        border: none;
        background-color: transparent;
        display: block;
        margin: 0;
        padding: 0;

        img{
        width: 50%;
        height: auto;
        }

        &:hover{
            cursor: pointer;
        }
    }

    .pc{
        max-width: 100%;
        
        #pc{
            position: absolute;
            width: 65vw;
            height: auto;
            left: 14%;
            top: 9.3%;
        }
    }
}